<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mt-3">
      <div class="row">
        <div class="col-md-12 mt-3">
            <% if (action != "undefined" && action =="edit") { %>
             <div class="alert alert-success">
                Blog Güncellendi
             </div>
            <% } %>
            <% if (action != "undefined" && action =="create") { %>
             <div class="alert alert-success">
                Blog Eklendi
             </div>
            <% } %>
            <% if (action != "undefined" && action =="delete") { %>
             <div class="alert alert-success">
                Blog Silindi
             </div>
            <% } %>
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th style="width : 50px">ID</th>
                <th style="width : 150px">Resim</th>
                <th>Baslik</th>
                <th style="width : 130px"></th>
              </tr>
            </thead>
            <tbody>
              <% blogs.forEach(blog => { %>
              <tr>
                <td># <%= blog.id %></td>
                <td>
                  <img
                    src="/static/images/<%= blog.resim %>"
                    alt=" "
                    class="img-fluid"
                  />
                </td>
                <td><%= blog.baslik %></td>
                <td> <% blog.categories.forEach(category => { %>
                 <p> <%= category.name %> </p>
                <% }) %> </td>
                <td>
                  <a
                    href="/admin/blogs/<%= blog.id %>"
                    class="btn btn-sm btn-primary"
                    >edit</a
                  >
                  <a
                    href="/admin/blogs/delete/<%= blog.id %>"
                    class="btn btn-sm btn-danger"
                    >delete</a
                  >
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
