<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mt-3">
      <form method="post" enctype="multipart/form-data">
        <div class="row gx-0">
          <div class="col-md-10 mt-3">
            <input type="hidden" name="blogid" value="<%=blog.id%>" />
            <input type="hidden" name="resim" value="<%=blog.resim%>" />
            <div class="row mb-3">
              <label for="baslik" class="col-sm-2 col-form-label">Baslik</label>
              <div class="col-sm-8">
                <input
                  name="baslik"
                  type="text"
                  value="<%= blog.baslik %>"
                  class="form-control"
                  id="baslik"
                />
              </div>
            </div>
            <div class="row mb-3">
              <label for="baslik" class="col-sm-2 col-form-label"
                >Açıklama</label
              >
              <div class="col-sm-8">
                <textarea
                  type="text"
                  name="aciklama"
                  rows="10"
                  class="form-control"
                  id="editor"
                >
<%= blog.aciklama %></textarea
                >
              </div>
            </div>
            <div class="row mb-3">
              <label for="url" class="col-sm-2 col-form-label">Url</label>
              <div class="col-sm-8">
                <input
                  type="text"
                  name="url"
                  value="<%= blog.url %>"
                  id="url"
                  class="form-control"
                />
              </div>
            </div>
            <div class="row mb-3">
              <label for="altbaslik" class="col-sm-2 col-form-label"
                >Altbaslik</label
              >
              <div class="col-sm-8">
                <textarea
                  type="text"
                  name="altbaslik"
                  rows="5"
                  class="form-control"
                >
<%= blog.altbaslik %></textarea
                >
              </div>
            </div>
            <div class="row mb-3">
              <label for="resim" class="col-sm-2 col-form-label">Resim</label>
              <div class="col-sm-8">
                <img
                  src="/static/images/<%= blog.resim %>"
                  alt=""
                  width="120"
                />
                <input
                  type="file"
                  name="resim"
                  value="<%= blog.resim %>"
                  id="resim"
                  class="form-control"
                />
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-sm-8 offset-sm-2">
                <button type="submit" class="btn btn-primary">Kaydet</button>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="row mb-3">
              <div class="form-check">
                <input type="checkbox" name="anasayfa" class="form-check-input"
                <%= blog.onay ? "checked" : "" %> id="anasayfa" />
                <label for="anasayfa" class="form-check-label">
                  Anasayfa
                </label>
              </div>
            </div>
            <div class="row mb-3">
              <div class="form-check">
                <input type="checkbox" name="onay" <%= blog.anasayfa ? "checked"
                : "" %> class="form-check-input" id="onay" />
                <label for="onay" class="form-check-label"> Onay </label>
              </div>
            </div>
            <div class="row border-top pt-2">
              <% categories.forEach(category => { %>
              <div class="form-check">
                <input type="checkbox" value="<%= category.id %>" name="categories[]" <%=
                blog.categories.some(cat=> cat.id == category.id)? "checked" :
                "" %> class="form-check-input" id="category_<%=category.id%>" />
                <label for="category_<%=category.id%>" class="form-check-label">
                  <%= category.name %>
                </label>
              </div>

              <% }) %>
            </div>
          </div>
        </div>
      </form>
    </div>
    <script src="https://cdn.ckeditor.com/ckeditor5/37.0.0/classic/ckeditor.js"></script>
    <script>
      ClassicEditor.create(document.querySelector("#editor"))
        .then((editor) => {
          console.log(editor);
        })
        .catch((error) => {
          console.error(error);
        });
    </script>
  </body>
</html>
