<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mt-3">
      <div class="row">
        <div class="col-md-12 mt-3">
          <form method="post">
            <input type="hidden" name="categoryid" value="<%= category.id %>" />
            <div class="row mb-3">
              <label for="name" class="col-sm-2 col-form-label">İsim</label>
              <div class="col-sm-8">
                <input
                  name="name"
                  type="text"
                  value="<%= category.name %>"
                  class="form-control"
                  id="name"
                />
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-sm-8 offset-sm-2">
                <button type="submit" class="btn btn-primary">Kaydet</button>
              </div>
            </div>
          </form>
        </div>
        <p><%= countBlogs %></p>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th style="width: 50px">ID</th>
              <th style="width: 150px">Resim</th>
              <th>Baslik</th>
              <th style="width: 200px"></th>
            </tr>
          </thead>
          <tbody>
            <% blogs.forEach(blog => { %>
            <tr>
              <td># <%= blog.id %></td>
              <td>
                <img
                  src="/static/images/<%= blog.resim %>"
                  alt=" "
                  class="img-fluid"
                />
              </td>
              <td><%= blog.baslik %></td>
              <td>
                <a
                  href="/admin/blogs/<%= blog.id %>"
                  class="btn btn-sm btn-primary"
                  >edit</a
                >
                <form style="display: inline-block;" action="/admin/categories/remove" method="post">
                  <input type="hidden" name="blogid" value="<%=blog.id%>">
                  <input type="hidden" name="categoryid" value="<%=category.id%>">
                  <button class="btn btn-sm btn-danger" type="submit">Kategoriden Çıkar</button>
                </form>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
