<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mt-3">
      <div class="card">
        <div class="body">
          <div class="row">
            <div class="col-md-3">
              <img
                src="/static/images/<%= blog.resim %>"
                class="img-fluid"
                alt=""
              />
            </div>
            <div class="col-md-9">
              <h1 class="h3 mb-3"><%=blog.baslik%></h1>

              <p><%= blog.altbaslik %></p>
              <hr>
              <p><%- blog.aciklama %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
