<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/nav') %>
    <div class="container mt-3">
      <div class="row">
        <div class="col-md-3">
          
          <%- include('../partials/category-menu', categories) %>
        
        </div>
        <div class="col-md-9">
          <h1 class="h3 mb-3"><%=title%></h1>

          <% blogs.forEach(blog => { %> <% if (blog.anasayfa) { %>

          <div class="card mb-3">
            <div class="row">
              <div class="col-md-3">
                <img
                  src="/static/images/<%= blog.blog_img %>"
                  alt=""
                  class="img-fluid"
                />
              </div>
              <div class="col-md-9">
                <div class="card-body">
                  <div class="cart-title">
                    <h5><%= blog.blog_title %></h5>
                    <p class="card-text"><%= blog.blog_desc %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% } %> <% }) %>
        </div>
      </div>
    </div>
  </body>
</html>
